/*
Super Sanne is de beste 4ever #1 xoxoxo ;)
*/
/* 
    Created on : 24-Dec-2014, 13:41:19
    Author     : Sanne
*/
//=========================================================================ALGEMEEN==============================================================

html{
    background-color:#E6E6E6;
}

body{
    background-color:#E6E6E6;
}



h1 { 
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #3B0B24;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
} 

h3 { 
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #3B0B24;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
} 

p { 
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
}
fieldset{
    color: #3B0B24;
    border: 1px solid #3B0B24;
    border-radius: 5px;
}
//========================================================================Menu Balk================================================================
.header{
    width: 100%;
    height: 75px;
    background-color: #FF00BF;
    padding-bottom: 75px;
    border-width: 0.5px;
    border-top: 1px solid #FF00BF;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #FF00BF;
    margin-bottom: 51px;
}

.menupositie{
    width: 1000px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 50px;
    //background-color:#ffffff;
}

.header input{
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
    width: 250px;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    float:left;
    margin-right: 35px;
    margin-left: 35px;
}
/*=================================================================index.php==========================================================================*/
hr{
    background-color: #3B0B24;
    width:100%;
    margin-top:75px;
}

.container{
    width:1000px;
    margin: 0 auto;
    margin-top:20px;
    position:relative;
    height: 340px;
}

.container textarea{
    width:180px;
    height:300px;
    margin: 0 auto;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    font-size:15px;
    resize: none;
    float: left; 
    position:relative;
    border:1px solid #6E6E6E;
    outline:none;
}

.container textfield{
    width:600px;
    height:340px;
    display:block;
    margin-left:300px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    font-size:15px;
    color: #3B0B24;
    border: 0.5px solid #3B0B24;
    background-color: #F2F2F2;
    padding-left:10px;
    
}

.container input {
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
    width: 180px;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    position:absolute;
    display:block;
    margin-top:310px;
}

//================================================================Reservering toevoegen==================================================
.container-add{
    width:1000px;
    margin: 0 auto;
    border-bottom: 1px solid #3B0B24;
    border-top: none;
    border-left:none;
    border-right: none;
}

.gast-toevoegen{
    width: 400px;
    margin-left: 150px;
    float:left;
}

.gast-toevoegen label{
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    float:left;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
}

.gast-toevoegen input{
    width: 200px;
    float: right;
    text-align: right;
    margin-bottom: 10px;
    display: block
}

.gast-toevoegen button{
   text-align: center;
   width:207px;
   height:30px;
   float: right;
   font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
   color: #FFFFFF;
   background-color: #6E6E6E;
} 

.gast-zoeken{
    width: 400px;
    margin-left: 290px;
    float:left;
    //height: 600px;
}

.gast-zoeken label{
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    float:left;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;     
}

.gast-zoeken input{
    width: 200px;
    float: right;
    text-align: right;
    margin-bottom: 10px;
    //display: block
}

.gast-zoeken button{
   text-align: center;
   width:207px;
   height:30px;
   float: right;
   clear:both;
   display:block;
   font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
   color: #FFFFFF;
   background-color: #6E6E6E;
} 

.gast-zoeken textarea{
    width: 200px;
    height: 100px;
    margin-top: 20px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    font-size:15px;
    resize: none;
    float: right; 
    clear: both;
    position:relative;
    border:1px solid #6E6E6E;
    outline:none;
}

.gevonden-gast{
    width: 1190px;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 50px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #3B0B24;
    border-bottom: none;
    border-left:none;
    border-right:none;
    margin-bottom:100px;
    
}

.left{
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #3B0B24;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    float: left;
    clear: both;
} 

.left-span{
    font-weight:700;
}

.right{    
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #3B0B24;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    float: right;
} 

.right-span{
    font-weight: 700;
}

.reservering-toevoegen{
    width: 400px;
    float:left;
    margin-bottom:10px;
    
}
.toevoegen{
    width:300px;
    float:left;
    clear:both;
}

.reservering-toevoegen input{
    float:right;
    text-align: right;
    margin-top:10px;
    margin-bottom: 10px;
    width:200px;  
}

.reservering-toevoegen label{
    float:left;
    clear:both;
    margin-top:10px;
    width:140px;
    margin-right: 10px;
    text-align: left;
    float:left;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
}

.toevoegen button{
    text-align: center;
    width:207px;
    height:30px;
    float: right;
    clear:both;
    display:block;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
} 
.bestellen{
    width: 300px;
    float:right;
}

.bestellen textarea{
    width:300px;
    height:266px;
}
#add .left-button{
    text-align: center;
    width:107px;
    height:30px;
    float: left;
    margin-top:10px;
    //clear:both;
    display:block;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
}
#add .right-button{
    text-align: center;
    width:107px;
    height:30px;
    float: right;
    margin-top:10px;
    //clear:both;
    display:block;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
}

.gast-zoeken ul a{
    float:left;
    margin-top:10px;
    //width:140px;
    //text-align: left;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    text-decoration: none;
}

.gast-zoeken ul{
    list-style-type:none;
    float:right;    
    clear:both;
    margin-right:100px;
}

.gast-zoeken ul a:hover{
    font-weight:700;
}
//====================================================================== Reservering wijzigen=================================================================

#aanpassen{
    position: relative;
}
#aanpassen .linkerdiv{
    float:left;
    width: 400px;
    margin-left:50px;
    height:600px;
    border-bottom: none;
    border-top:none;
    border-left:none;
    border-right: 1px solid #3B0B24;
    padding-top:115px;
}

#aanpassen .linkerdiv textarea{
    width:200px;
    float: left;
    margin-left: 50px;
    height:200px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    font-size:15px;
    resize: none;
    clear: both;
    position:relative;
    border:1px solid #3B0B24;
    outline:none;
}

#aanpassen .linkerdiv button{
    text-align: center;
    width:204px;
    height:30px;
    float: left;
    margin-top:10px;
    margin-left: 50px;
    clear:both;
    display:block;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
}

#aanpassen .linkerdiv fieldset{
    width: 300px;
    color: #6E6E6E;
}

#aanpassen .rechterdiv{
    float:right;
    width:1000px;
    margin-right:150px;
}

#aanpassen .geselecteerde-reservering{
    text-align:center;
    clear:both;
    margin-top:20px;
    margin-right:50px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    font-size:18px;
    font-weight: 500;
    color:#3B0B24;
}

#aanpassen .geselecteerde-gast{
    font-weight: 700;
}

#aanpassen .menu-items-toevoegen{
    float:left;
    width:300px;
    margin-top:60px;
}

#aanpassen .menu-items-toevoegen label{
    float:left;
    clear:both;
    margin-top:10px;
    width:200px;
    margin-right: 10px;
    text-align: left;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
}

#aanpassen .menu-items-toevoegen input{
    float:right;
    text-align: right;
    margin-top:5px;
    margin-bottom: 10px;
    width:40px;  
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
}

#aanpassen .menu-items-toevoegen button{
    text-align: center;
    width:270px;
    height:30px;
    float: right;
    margin-top:10px;
    clear:both;
    display:block;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
} 

#aanpassen .menu-item-overzicht{
    width:300px;
    float:right;
    margin-top: 60px;
    margin-right:140px;
}

#aanpassen .menu-item-overzicht textarea{
    width:205px;
    float: left;
    height:400px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    font-size:15px;
    resize: none;
    clear: both;
    position:relative;
    border:1px solid #3B0B24;
    outline:none;
}

#aanpassen .menu-item-overzicht button {
    text-align: center;
    width:200px;
    height:30px;
    margin-right:10px;
    float: left;
    margin-top:10px;
    display:block;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
}
#aanpassen .linkerdiv ul a{
    float:left;
    //margin-top:10px;
    //width:140px;
    //text-align: left;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    text-decoration: none;
}

#aanpassen .linkerdiv ul{
    list-style-type:none;
    float:left;    
    clear:both;
    margin-left:10px;
}

#aanpassen .linkerdiv ul a:hover{
    font-weight:700;
}

#aanpassen .menu-item-overzicht ul a{
    float:left;
    clear:both;
    //margin-top:10px;
    //width:140px;
    //text-align: left;
    margin-top:10px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    text-decoration: none;
}

#aanpassen .menu-item-overzicht ul{
    list-style-type:none;
    float:left;    
    clear:both;
    margin-left:10px;
    width:100px;
}

#aanpassen .menu-item-overzicht ul a:hover{
    font-weight:700;
}


//========================================================================= Menu wijzigen=================================================

#menuwijzigen{
    position:relative;
}

#menuwijzigen .linkerding{
    width:400px;
    float:left;
    margin-left:200px;
}

#menuwijzigen .linkerding textarea{
    width:200px;
    float: left;
    margin-left: 50px;
    height:300px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    font-size:15px;
    resize: none;
    clear: both;
    position:relative;
    border:1px solid #3B0B24;
    outline:none;
}

#menuwijzigen .linkerding button{
    text-align: center;
    width:100px;
    height:30px;
    margin-left:50px;
    float: left;
    margin-top:10px;
    display:block;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
}

#menuwijzigen .linkerding label{
    float:left;
    margin-top:16px;
    width:100px;
    margin-right: 10px;
    text-align: left;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;   
}

#menuwijzigen .linkerding input{
    float:left;
    text-align: right;
    margin-top:12px;
    margin-bottom: 10px;
    width:100px;  
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
}

#menuwijzigen .rechterding{
    float: left;
    margin-left: 200px;
    width: 300px;
}

#menuwijzigen .rechterding label{
    float:left;
    clear:both;
    margin-top:16px;
    width:100px;
    margin-right: 10px;
    text-align: left;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;  
}

#menuwijzigen .rechterding input{
    float:left;
    text-align: right;
    margin-top:12px;
    margin-bottom: 10px;
    width:100px;  
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    color: #3B0B24;
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
}

#menuwijzigen .rechterding button{
    text-align: center;
    clear:both;
    width:108px;
    height:30px;
    margin-left:110px;
    float: left;
    margin-top:10px;
    display:block;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    color: #FFFFFF;
    background-color: #6E6E6E;
}